<body>
<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5">
            <h2>Hello, <%= user.userName %>! Add a recipe below</h2>
            <form action="/recipe/createRecipe" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label">Recipe name</label>
                  <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="prepTime" class="form-label">Prep time</label>
                <input type="text" class="form-control" id="prepTime" name="prepTime">
              </div>
              <div class="mb-3">
                <label for="cookTime" class="form-label">Cooking time</label>
                <input type="text" class="form-control" id="cookTime" name="cookTime">
              </div>
              <div class="mb-3">
                <label for="vegetarian" class="form-label">Vegetarian</label>
                <select class="form-control" id="vegetarian" name="vegetarian">
                  <option value="">--Please choose an option--</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    <option value="Optional">Optional</option>                    
                  </select>
              </div>
              <div class="mb-3">
                <label for="vegan" class="form-label">Vegan</label>
                <select class="form-control" id="vegan" name="vegan">
                  <option value="">--Please choose an option--</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    <option value="Optional">Optional</option>                    
                  </select>
              </div>
              <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <textarea class="form-control" id="ingredients" name="ingredients"></textarea>
              </div>
              <div class="mb-3">
                <label for="instructions" class="form-label">Instructions</label>
                <textarea class="form-control" id="instructions" name="instructions"></textarea>
              </div>              
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <h2>Your recipes</h2>
        <ul class="row list-unstyled">
          <% for(var i=0; i<recipes.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/recipe/<%= recipes[i]._id%>">
                <h2><%= recipes[i].name%></h2>
                <img class="img-fluid" src="<%= recipes[i].image%>">
                <p>Prep time: <%= recipes[i].prepTime%></p>
                <p>Cooking time: <%= recipes[i].cookTime%></p>
                <p>Vegetarian: <%= recipes[i].vegetarian%></p>
                <p>Vegan: <%= recipes[i].vegan%></p>
                <p><%= recipes[i].ingredients%></p>
                <p><%= recipes[i].instructions%></p>
              </a>
            </li>
          <% } %>
          </ul>
          
        </div>  
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>
</body>